<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Correios-Api" version="1.1.1" targetFramework="net472" />
  <package id="CorrelatorSharp" version="1.5.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="RestSharpSigned" version="105.2.3" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net472" />
</packages>